go 1.18

use (
	.
	./hiveproxy
	./simulators/devp2p
	./simulators/eth2/engine
	./simulators/eth2/testnet
	./simulators/ethereum/consensus
	./simulators/ethereum/engine
	./simulators/ethereum/graphql
	./simulators/ethereum/rpc
	./simulators/ethereum/rpc-compat
	./simulators/ethereum/sync
	./simulators/smoke/clique
	./simulators/smoke/genesis
	./simulators/smoke/network
	./taiko
	./simulators/taiko/rpc
	./simulators/taiko/client/testnet
)

replace github.com/ethereum/go-ethereum v1.10.26 => github.com/taikoxyz/taiko-geth v0.0.0-20221223061332-67c60b50b123
